manifest {
    mainScript = 'phyvaluate.nf'
}

process.$alignUPP.container = 'cbcrg/benchfam_large_scale'
docker.enabled = true

profiles {
    crg {
	process.executor='crg'
	process.queue='cn-el7'
	process.memory="20G"
	process.cpus=2
	process.scratch=true

	process.$alignUPP.memory="40G"
	process.$alignUPP.cpus=1

	docker.enabled = true
   }

   test { 
	params.input = "$baseDir/data/test/seatoxin.fa"
	params.ref_trees = "$baseDir/data/test/seatoxin.tt"   
  } 
}



env {
    PERL5LIB="$PERL5LIB:$baseDir/perl5lib/lib"
}
