manifest {
    mainScript = 'phyvaluate.nf'
}

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7,short-sl65'
          memory="20G"
          cpus=2
          scratch=true
       }
       docker.enabled=true
   }
}

env {
    PERL5LIB="$PERL5LIB:$baseDir/perl5lib"
}
