manifest {
    mainScript = 'phyvaluate.nf'
}

process.executor='crg'
process.queue='cn-el7'
process.memory="20G"
process.cpus=2
process.scratch=true
       
process.$alignUPP.container='cbcrg/benchfam_large_scale'
process.$alignUPP.queue="cn-el7"
process.$alignUPP.memory="40G"
process.$alignUPP.cpus=1
process.$alignUPP.scratch=true      
   
docker { enabled = true }


env {
    PERL5LIB="$PERL5LIB:$baseDir/perl5lib"
}
